@page
@model KoiFarmRazorPage.Pages.Staff.StaffPageModel
@{
	Layout = "~/Pages/Shared/_StaffLayout.cshtml";
	ViewData["Title"] = "Staff Page";
}


<h2>Welcome to Staff Page</h2>
<p>Use the buttons on the left to navigate to different sections.</p>
