################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KoiFarmRazorPage/appsettings.json
/KoiFarmRazorPage/appsettings.json
./.json
.json
