@page
@model KoiFarmRazorPage.Pages.Customer.IndexModel
@{
    Layout = "_CustomerLayout";
    ViewData["Title"] = "Trang Chủ";
}

<div class="jumbotron text-center bg-light">
    <h1 class="display-4">Chào mừng đến với KoiFish Shop!</h1>
    <p class="lead">Nơi bạn có thể tìm thấy những chú cá koi đẹp nhất, các sản phẩm và dịch vụ tốt nhất cho hồ cá của bạn.</p>
    <a class="btn btn-primary btn-lg" href="/KoiFish" role="button">Khám phá ngay</a>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <img src="path-to-koi-fish-image.jpg" class="img-fluid rounded" alt="Xem Cá Koi">
        <h3>Xem Cá Koi</h3>
        <p>Tham khảo các loại cá koi đẹp và chất lượng cho hồ cá của bạn.</p>
        <a href="/KoiFish" class="btn btn-outline-primary">Xem thêm</a>
    </div>
    <div class="col-md-4 text-center">
        <img src="path-to-products-image.jpg" class="img-fluid rounded" alt="Sản Phẩm Cho Cá Koi">
        <h3>Sản Phẩm Cho Cá Koi</h3>
        <p>Các phụ kiện, thức ăn và thiết bị chăm sóc cá koi chất lượng.</p>
        <a href="/Products" class="btn btn-outline-primary">Xem thêm</a>
    </div>
    <div class="col-md-4 text-center">
        <img src="path-to-services-image.jpg" class="img-fluid rounded" alt="Dịch Vụ">
        <h3>Dịch Vụ</h3>
        <p>Dịch vụ chăm sóc, vệ sinh và hỗ trợ kỹ thuật cho hồ cá koi.</p>
        <a href="/Services" class="btn btn-outline-primary">Xem thêm</a>
    </div>
</div>